app/PimParameters.php
app/config/config_behat.yml
app/config/config_dev.yml
app/config/config_behat.yml
app/config/config_test.yml
app/config/parameters.yml.dist
app/config/routing_dev.yml
app/config/security_test.yml

.circleci/
.git/
.idea/
bin/docker/
bin/symfony_requirements
docker/
node_modules/
upgrades/
vendor/

var/cache/*
var/logs/*
var/bootstrap.php.cache
var/SymfonyRequirements.php

web/*
!web/app.php
!web/favicon.ico
!web/robots.txt

.dockerignore
.env
.env.dist
CHANGELOG-*.md
docker-compose*
LICENCE.txt
README.md
UPGRADE-*.md
